* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

body {
  background-color: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

svg path {
  transition: fill 0.5s;
  cursor: pointer;
}

svg path:hover {
  fill: #BDAE82;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  margin-top: 25px;
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  transition: color 0.4s;
}
.btn:hover {
  color: #fff;
}

.title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.title-section span {
  display: block;
  width: 274px;
  height: 2px;
  background-color: #BDAE82;
}
.title-section .title {
  margin: 0 20px;
  text-align: center;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #BDAE82;
}

.header {
  padding: 20px 0;
  height: 90px;
}
.header__logo {
  cursor: pointer;
}
.header__logo:hover {
  fill: #BDAE82;
}
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .nav .menu {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header .nav .menu__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  transition: color 0.4s;
}
.header .nav .menu__link:hover {
  color: #BDAE82;
}
.header .nav .langs {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}
.header .nav .langs .lang-active {
  color: #BDAE82;
}
.header .nav .hamburger {
  display: none;
}
.header .nav .close {
  display: none;
}

.about {
  margin-top: -90px;
  padding: 250px 80px;
  min-height: 100vh;
  background: url("../img/bg.jpg") center center/cover no-repeat;
}
.about__title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
}
.about__descr {
  width: 470px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}

.skills {
  min-height: 482px;
  padding-top: 100px;
}
.skills .flex-container {
  margin-top: 60px;
  row-gap: 60px;
}
.skills__card {
  width: 320px;
  height: 240px;
  text-align: center;
  margin: 0 auto;
}
.skills__card-title {
  margin: 50px 0 20px;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  font-family: "Inter";
}
.skills__card-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}

.portfolio {
  padding-top: 100px;
}
.portfolio .tabs-container {
  width: 895px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.portfolio .tabs-item {
  border: 2px solid #BDAE82;
  background: transparent;
  color: #BDAE82;
}
.portfolio .tabs-item:hover {
  color: #fff;
}
.portfolio .tabs-item__active {
  background: #BDAE82;
  color: #000;
}
.portfolio__projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 450px));
  grid-template-rows: repeat(2, minmax(auto, 560px));
  grid-auto-rows: 560px;
  gap: 25px;
}
.portfolio__project img {
  max-width: 450px;
  max-height: 560px;
}
.portfolio .hide {
  display: none;
}
.portfolio .show {
  display: grid;
}

.video {
  padding-top: 100px 20px 0;
}
.video-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.video-project {
  position: relative;
  margin-top: 60px;
  width: 100%;
}
.video-container {
  margin: 0 auto;
  position: relative;
  aspect-ratio: 16/9;
  width: 98%;
  max-width: 1400px;
  overflow: hidden;
}
.video-container.fullscreen {
  max-width: 100%;
  width: 100%;
  height: 100vh;
}
.video-container.show-controls .wrapper {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.13s ease;
}
.video-container .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.08s ease;
}
.video-container .wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% + 35px);
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.video-container .wrapper .video-timeline {
  height: 7px;
  width: 100%;
  cursor: pointer;
}
.video-container .wrapper .video-timeline .progress-area {
  height: 3px;
  background: #BDAE82;
  position: relative;
}
.video-container .wrapper .video-timeline .progress-area span {
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  transform: translateX(-50%);
}
.video-container .wrapper .video-timeline .progress-area .progress-bar {
  width: 0%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}
.video-container .wrapper .video-timeline .progress-area .progress-bar::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 13px;
  width: 13px;
  background: inherit;
  border-radius: 50%;
  transform: translateY(-50%);
}
.video-container .wrapper .video-timeline:hover .progress-area span,
.video-container .wrapper .video-timeline:hover .progress-area .progress-bar::before {
  display: block;
}
.video-container .wrapper .progress-area span,
.video-container .wrapper .progress-area .progress-bar::before {
  display: none;
}
.video-container .video-controls, .video-container .video-timer, .video-container .options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-container .video-controls {
  padding: 5px 20px 10px;
}
.video-container .video-controls .options {
  width: 100%;
}
.video-container .video-controls .options .volume {
  display: flex;
  align-items: center;
  gap: 5px;
}
.video-container .video-controls .options button {
  width: 40px;
  height: 40px;
  color: #BDAE82;
  font-size: 19px;
  background: none;
}
.video-container .video-controls .options button :where(i, span) {
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.video-container .video-controls .options:first-child {
  justify-content: flex-start;
}
.video-container .video-controls .options:last-child {
  justify-content: flex-end;
}
.video-container .video-controls .options input {
  height: 4px;
  max-width: 75px;
}
.video-container .video-controls .options .video-timer {
  font-size: 14px;
  color: #BDAE82;
  margin-left: 15px;
}
.video-container .video-controls .options .video-timer .separator {
  font-size: 16px;
  margin: 0 5px;
}
.video-container .video-controls .options .playback-content {
  position: relative;
}
.video-container .video-controls .options .playback-content .speed-options {
  position: absolute;
  background: #fff;
  bottom: 40px;
  left: -40px;
  width: 95px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.13s ease;
}
.video-container .video-controls .options .playback-content .speed-options li {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 5px 0 5px 15px;
  cursor: pointer;
}
.video-container .video-controls .options .playback-content .speed-options li.active {
  color: #fff;
  background: #BDAE82;
}
.video-container .video-controls .options .playback-content .speed-options.show {
  opacity: 1;
  pointer-events: auto;
}

.price {
  min-height: 845px;
  padding: 100px 0;
}
.price .flex-container {
  margin-top: 60px;
  row-gap: 60px;
}
.price__card {
  width: 450px;
  height: 505px;
  padding: 43px 0 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 3px solid #BDAE82;
  text-align: center;
}
.price__card-title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: #fff;
}
.price__card-cost {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
}
.price__card-list__item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}

.contacts {
  padding: 60px 0 195px;
  min-height: 700px;
  background: url("../../img/contacts-bg.jpg") center center/cover no-repeat;
}
.contacts .flex-container {
  width: 100%;
  justify-content: end;
}
.contacts__form {
  width: 450px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  /* WebKit, Edge */
  /* Firefox 4-18 */
  /* Firefox 19+ */
  /* IE 10-11 */
  /* Edge */
  /* MODERN BROWSER */
}
.contacts__form-title {
  align-self: start;
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  margin-bottom: 40px;
}
.contacts__form-input {
  padding: 5px 0 5px 20px;
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid #BDAE82;
  background-color: transparent;
  color: #BDAE82;
}
.contacts__form-textarea {
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  outline: none;
  border: 2px solid #BDAE82;
  background-color: transparent;
  color: #BDAE82;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}
.contacts__form-btn {
  margin-top: 30px;
  align-self: start;
}
.contacts__form ::-moz-placeholder {
  color: #BDAE82;
  opacity: 1;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}
.contacts__form ::placeholder {
  color: #BDAE82;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.footer {
  min-height: 150px;
  display: flex;
  align-items: center;
  color: #fff;
}
.footer__privacy {
  display: flex;
  width: 182px;
  justify-content: space-between;
}
.footer__privacy-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
.footer__rss {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .portfolio__projects {
    grid-template-columns: repeat(2, minmax(auto, 450px));
    place-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header .nav .menu {
    display: none;
    padding: 134px 343px 0 127px;
    gap: 16px;
    align-items: start;
    justify-content: start;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: #000;
  }
  .header .nav .menu__link {
    font-family: "Inter";
    font-weight: 400;
    font-size: 35px;
    line-height: 73px;
    color: #fff;
  }
  .header .nav .hamburger {
    display: block;
    margin-left: 20px;
  }
  .header .nav .close {
    position: fixed;
    top: 20px;
    right: 64px;
    display: none;
  }
  .about__title {
    font-weight: 400;
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    color: #fff;
  }
  .about__descr {
    margin: 20px 0 60px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
  .skills {
    padding-top: 95px;
  }
  .title-section span {
    width: 117px;
    height: 2px;
  }
  .title-section .title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #BDAE82;
  }
  .portfolio .tabs-container {
    width: 445px;
    gap: 5px;
  }
  .portfolio__projects {
    grid-template-columns: minmax(auto, 450px);
  }
  .video .container {
    width: 100%;
  }
  .btn {
    margin-top: 0;
  }
  .price__card {
    margin: 0 auto;
  }
  .contacts .flex-container {
    justify-content: center;
  }
  .contacts__form-title, .contacts__form-btn {
    align-self: center;
  }
  .contacts__form-input, .contacts__form-textarea {
    background: rgba(0, 0, 0, 0.5);
  }
  .footer {
    padding: 28px 0;
  }
  .footer .flex-container {
    margin: 0 auto;
    width: 210px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .about {
    background: url("../img/bg-sm.png") center center/cover no-repeat;
  }
  .contacts {
    background: url("../img/contacts-sm-bg.png") center center/cover no-repeat;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 300px;
  }
  .btn {
    width: 146px;
    font-size: 18px;
  }
  .about__title {
    font-size: 30px;
    line-height: 60px;
  }
  .about__descr {
    width: auto;
  }
  .portfolio__project_img {
    width: 100%;
  }
  .title-section span {
    width: 50px;
  }
  .price__card {
    height: 470px;
    padding: 20px 0 41px;
  }
  .price__card-list__item {
    line-height: 30px;
  }
}/*# sourceMappingURL=style.css.map */