.portfolio
{
    padding-top: 100px;
    .tabs-container
    {
        width: 895px;
        margin: 60px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .tabs-item
    {
        border: 2px solid $base_color;
        background: transparent;
        color: $base_color;
        &:hover
        {
            color: #fff;
        }
        &__active
        {
            background: $base_color;
            color: #000;
        }
    }
    &__projects
    {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 450px));
        grid-template-rows: repeat(2, minmax(auto, 560px));
        grid-auto-rows: 560px;
        gap: 25px;
    }
    &__project
    {
        img
        {
            max-width: 450px;
            max-height: 560px;
        }
    }
    .hide
    {
        display: none;
    }

    .show
    {
        display: grid;
    }
}